@color-teal-50: #E0F2F1;
@color-teal-600: #00897B;
@color-teal-800: #00695C;
@color-teal-900: #004D40;
@color-teal-A700: #00BFA5;

@color-cyan-50: #E0F7FA;
@color-cyan-600: #00ACC1;
@color-cyan-700: #0097A7;
@color-cyan-800: #00838F;
@color-cyan-900: #006064;
@color-cyan-A700: #00B8D4;

@color-pink-50: #FCE4EC;
@color-pink-600: #D81B60;
@color-pink-700: #C2185B;
@color-pink-800: #AD1457;
@color-pink-900: #880E4F;
@color-pink-A700: #C51162;


@color-grey-50: #FAFAFA;
@color-grey-200: #EEEEEE;
@color-grey-300: #E0E0E0;
@color-grey-600: #757575;
@color-grey-700: #616161;
@color-grey-900: #212121;

@font-color: @color-grey-900;
@font-size: 16px;
@font-family: Arial, Microsoft JhengHei, Open Sans, sans-serif;

@link-color: @color-cyan-700;
@link-hover-color: @color-cyan-900;

@page-background: @color-grey-700;

@page-header-background: @color-cyan-600;
@page-header-title-color: @color-grey-50;

@page-nav-background: @color-cyan-800;
@page-nav-menu-color: #ECECEC;
@page-nav-menu-background: @page-nav-background;
@page-nav-menu-hover-background: @color-cyan-900;
@page-nav-menu-dropdown-background: @color-cyan-600;
@page-nav-menu-dropdown-border-color: @color-cyan-800;

@page-main-background: @color-grey-200;
@page-main-pagination-color: @color-grey-200;
@page-main-pagination-background: @color-cyan-700;
@page-main-pagination-hover-background: @color-cyan-900;
@page-main-pagination-active-background: @color-cyan-900;

@page-content-background: white;
@page-content-metadata-tip-color: #fff;
@page-content-metadata-tip-background: @color-cyan-600;
@page-content-header-color: @color-grey-700;
@page-content-block-color: white;
@page-content-block-background: @color-cyan-600;
@page-content-block-border-color: #ccc;
@page-content-doctest-block-color: #fff;
@page-content-doctest-block-background: #6D6D6D;
@page-content-note-background: #ECECEC;
@page-content-note-border-color: #ccc;
@page-content-note-title-color: @color-cyan-800;
@page-content-table-header-background: @color-cyan-600;

@page-aside-background: @color-grey-200;
@page-aside-darker-background: @color-grey-600;
@page-aside-section-title-color: @color-grey-700;
@page-aside-section-border-color: @color-grey-200;

@page-footer-background: @color-cyan-800;
@page-footer-copyright-color: #ECECEC;

html {
  color: @font-color;
  font-size: @font-size;
  font-family: @font-family;
  background: @page-background;
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.page-header {
  height: 90px;
  background: @page-header-background;

  .title {
    position: relative;
    margin: 0;
    line-height: 90px;
    padding-left: 116px;
  }

  a {
    color: @page-header-title-color;
  }

  img {
    position: absolute;
    top: 18px;
    left: 28px;
    width: 54px;
    height: 54px;

    transform: rotate(-10deg);
    transition-duration: 0.8s;
    -webkit-backface-visibility: hidden;

    &:hover {
      transform: rotate(10deg);
    }
  }
}

.page-nav {
  height: 42px;
  background: @page-nav-background;

  .menu-container {
    a {
      display: block;
      height: 42px;
      line-height: 42px;
      padding: 0 16px;
      font-size: 1.2em;
      color: @page-nav-menu-color;
      background: @page-nav-menu-background;
      font-weight: 700;

      &:hover {
        background: @page-nav-menu-hover-background;
      }
    }

    a.menu-toggle {
      display: none;
    }

    ul.main-menu {
      float: left;

      li {
        float: left;
      }
    }

    ul.extra-menu {
      float: right;

      li {
        float: left;
      }
    }

    @media (max-width: 1200px) {
      position: absolute;

      a.menu-toggle {
        display: block;
        &:hover {
          background: none;
        }
      }

      ul {
        display: none;
      }

      li {
        width: 100%;

        a {
          background: @page-nav-menu-dropdown-background;
        }
      }

      &:hover {
        width: 140px;

        ul {
          display: block;

          &.extra-menu {
            border-top: 3px @page-nav-menu-dropdown-border-color solid;
          }
        }
      }
    }
  }
}

.page-main {
  background: @page-main-background;
  overflow: auto;

  .article-list {
    float: left;
    width: 800px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    ul.article-container li:not(:first-child) {
      margin-top: 3px;
    }
  }

  .article-detail {
    float: left;
    width: 800px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  article {
    background: @page-content-background;
    padding: 32px;

    header {
      h1 {
        margin: 3px 0;

        a {
          font-size: 2rem;
        }
      }
    }

    .metadata li {
      display: inline;
      font-size: 0.9rem;

      &:not(:first-child) {
        margin-left: 8px;
      }

      ul.categories {
        display: inline;

        li {
          margin: 0;

          &:not(:first-child):before {
            content: "/";
            margin: 0 3px;
          }
        }
      }

      .tip {
        position: relative;
        display: inline-block;

        &:hover {
          cursor: pointer;
          &:before, &:after {
            opacity: 1;
          }
        }

        &:before {
          content: attr(data-tooltip);
          background: @page-content-metadata-tip-background;
          color: @page-content-metadata-tip-color;
          padding: 5px;
          position: absolute;
          left: 100%;
          top: -30%;
          margin-left: 16px;
          white-space: pre;
        }

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-right-color: @color-cyan-600;
        }

        &:before, &:after {
          opacity: 0;
          transition: opacity .3s ease-out;
        }
      }

      .chicken {
        margin-bottom: -0.4em;

        &:hover {
          transform: rotate(-10deg);
        }
      }
    }

    .content {
      margin-top: 16px;
      font-size: 1.2rem;
      line-height: 1.6rem;

      hr {
        border: solid #dddddd;
        border-width: 1px 0 0;
        clear: both;
        margin: 1.25rem 0 1.1875rem;
        height: 0;
      }

      header {
        margin-bottom: 2rem;

        h1 {
          font-size: 2rem;
          margin-top: 0;
          margin-bottom: 0;
        }

        .meta {
          margin-top: 15px;

          .rubric {
            color: #d65b4b;
            font-weight: bold;
          }
        }
      }

      h2, h3, h4, h5 {
        color: @page-content-header-color;
      }

      h2 {
        font-size: 1.8rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      h4 {
        font-size: 1.3rem;
      }

      h5 {
        font-size: 1.2rem;
      }

      ul {
        font-size: 1.2rem;
        margin-left: 1.2rem;
        li {
          margin-left: 1.2rem;
        }
      }

      ol {
        font-size: 1.2rem;
        margin-left: 1.2rem;
        li {
          margin-left: 1.2rem;
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8rem;

        &.rubric {
          font-weight: bold;
          font-size: larger;
          color: #d65b4b;
        }
      }

      pre {
        font-size: 1.2rem;
        font-family: Consolas, Arial, Microsoft JhengHei;
        color: @page-content-block-color;
        background-color: @page-content-block-background;
        border: 1px solid @page-content-block-border-color;
        padding: 0.7rem;
        margin-bottom: 1rem;
        white-space: pre-wrap;

        &.doctest-block {
          border: 0;
          background-color: @page-content-doctest-block-background;
          color: @page-content-doctest-block-color;
        }
      }

      .highlight pre {
        font-size: 1.2rem;
        font-family: Consolas, Arial;
        color: #505050;
        background-color: #ECECEC;
      }

      table.highlighttable {
        pre {
          font-size: 1.2rem;
          font-family: Consolas, Arial;
          color: #505050;
          background-color: #ECECEC;
          border: none;
          padding: 0;
          margin-bottom: 0;
        }
      }

      table {
        border-collapse: collapse;
        width: 100%;

        th {
          background: @page-content-table-header-background;
          color: white;
          padding: 0.7rem;
          font-size: 1.2rem;
        }

        tr:nth-of-type(odd) {
          background: #eee;
        }
        td {
          font-size: 1.2rem;
          padding: 0.7rem;
          border: 1px solid #ccc;
        }
      }

      img {
        margin-bottom: 1rem;
      }

      .note {
        background-color: @page-content-note-background;
        padding: 0.1rem 0.7rem 0.7rem 0.7rem;
        margin-bottom: 1rem;
        border: 1px solid @page-content-note-border-color;

        /*解決 note 的問題*/
        p.first {
          font-size: 1.2rem;
          font-weight: bold;
          color: @page-content-note-title-color;
          margin-bottom: 0.1rem;
        }

        p.last {
          /*line-height: 1rem;*/
          margin-bottom: 0;
        }
      }

      .social-block {
        margin-bottom: 20px;

        .fb-share-button {
          bottom: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  .pagination ul {
    margin: 0 auto;
    float: right;

    @media (max-width: 1200px) {
      float: none;
    }

    li {
      float: left;
      margin-bottom: 32px;
      width: 32px;
      height: 32px;

      @media (max-width: 1200px) {
        margin-bottom: 0;
        width: 100% / 8;
      }
    }

    a {
      display: block;
      text-align: center;
      line-height: 32px;
      font-size: 1.5rem;

      color: @page-main-pagination-color;
      background: @page-main-pagination-background;

      &:hover {
        background: @page-main-pagination-hover-background;
      }

      &.active {
        pointer-events: none;
        background: @page-main-pagination-active-background;
      }
    }
  }

  .aside {
    float: left;
    background: @page-aside-background;

    @media (max-width: 1200px) {
      width: 100%;
      background: @page-aside-darker-background;
    }

    section {
      margin: 30px;
      width: 340px;

      h2 {
        color: @page-aside-section-title-color;
        font-size: 1.5em;
        font-weight: 700;
        border-bottom: 1px solid @page-aside-section-border-color;
        padding-bottom: 10px;
      }
    }

    section.about-me {
      position: relative;

      img {
        position: absolute;
        width: 90px;
        height: 100%;
        border: 0.1em solid @color-grey-50;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      }

      .profile {
        padding-top: 8px;
        padding-left: 110px;
        font-size: 0.8rem;

        h3 {
          margin: 0;
          font-size: 1rem;

          @media (max-width: 1200px) {
            color: @color-grey-50;
          }
        }

        .motto {
          margin-top: 8px;
          color: @font-color;
          display: inline-block;

          @media (max-width: 1200px) {
            color: @color-grey-50;
          }
        }

        ul.contact {
          margin-top: 8px;
          overflow: auto;

          li {
            float: left;

            &:not(:first-child) {
              margin-left: 4px;
            }

            a {
              display: block;
              width: 24px;
              height: 24px;
              text-indent: 110%;
              overflow: hidden;

              &.i-facebook {
                background: url("../images/icons/i-facebook.svg") no-repeat;
                background-size: 100%;
              }

              &.i-linkedin {
                background: url("../images/icons/i-linkedin.svg") no-repeat;
                background-size: 100%;

              }
              &.i-github {
                background: url("../images/icons/i-github.svg") no-repeat;
                background-size: 100%;
              }
            }
          }
        }
      }
    }

    section.recent-articles {
      @media (max-width: 1200px) {
        display: none;
      }

      li:not(:first-child) {
        margin-top: 8px;
      }
    }

    section.additional-links {
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.page-footer {
  height: 42px;
  background: @page-footer-background;

  .copyright {
    margin: 0 auto;
    text-align: center;
    line-height: 42px;
    color: @page-footer-copyright-color;
  }
}
